* {
    margin: 0;
    padding: 0;
    font-family: "helvetica";
}

.content {
    background: black;
    color: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    " nav nav nav "
    " header header header "
    " sub-menu sub-menu sub-menu "
    " section section section "
    " main main main "
    " aside aside aside "
    ;
}

nav {
    grid-area: nav;
}

.sub-menu {
    grid-area: sub-menu;
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    text-align: center;
    padding: 12px;
}

#menu-items {
    display: none;
}

nav {
    background: #01CFFF;
    text-align: center;
    border-radius: 3px;
}

nav h4 {
    padding: 12px;
}

nav ul li {
    padding: 12px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Gentium Basic;
}

header {
    text-align: center;
}

header h3 {
    color: #01CFFF;
}

header p {
    padding: 6px;
}

.form {
    display: inline-block;
    background: silver;
    border-radius: 12px;
    color: black;
    margin: 3px;
}

.form ul li {
    padding: 12px;
    margin: 12px auto;
    list-style: none;
}

.form ul li input {
    background: silver;
    border: none;
    border-bottom: 1px solid #009f00;
}

.form input[type=submit] {
    padding: 6px 12px;
    border-radius: 6px;
}

.table table {
    margin: 3px auto;
    width: 100%;
}

main table {
    border-collapse: collapse;
    margin: 3px auto;
    width: 95%;
    background: white;
    color: black;
}

main table thead tr th {
    background: #009f00;
    border: 1px solid black;
    padding: 6px;
    color: white;
}

main table tbody tr td {
    border: 1px solid black;
    padding: 6px;
}

main table tbody tr:nth-child(even) {
    background: #787878;
    color: white;
}

main ol {
    background: #787878;
    padding: 6px 30px;
}

main ol li {
    padding: 6px;
}

.links ul li {
    padding: 12px;
    list-style:none;
}

.links ul li a {
    color: #009f00;
}

.error {
    color: red;
}

button {
    margin: 3px 12px;
    padding: 6px;
    background: #009f00;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}

main h3 {
    text-align: center;
}

main h4 {
    text-align: center;
    color: #01CFFF;
    background: white;
}

main ul li {
    list-style: none;
}

.grid-div {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item {
    border-radius: 3px;
    padding: 12px;
}

.grid-div div {
    background: grey;
    margin: 6px;
}

.grid-div div:nth-child(odd){
    background: silver ;
    color: black;
}

.grid-item ul li:nth-child(1) {
    font-weight: bolder;
}

.grid-item ul li {
    list-style: none;
    text-align: center;
    padding: 6px;
}

.grid-item ul li a {
    font-weight: bold;
}

.grid-item button {
    background-color: silver;
    color: black;
    padding: 6px 12px;
}

section table {
    margin: 12px auto;
    border-collapse: collapse;
}

section table tr th {
    padding: 6px;
    border: 1px solid white;
}

section table tr td {
    padding: 6px;
    border: 1px solid white;
}

.search {
    margin: 6px;
}

.search ul li {
    text-align: center;
}

.search ul li input {
    text-align: center;
}

/*styles for tablets*/
@media screen and (min-width: 768px) {
    .grid-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*styles for computers*/
@media screen and (min-width: 992px) {
    .content {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
        " nav header header header header header header header header "
        " nav sub-menu sub-menu sub-menu sub-menu sub-menu sub-menu sub-menu sub-menu "
        " nav section section section section section section section section "
        " nav main main main main main main main main "
        " nav aside aside aside aside aside aside aside aside "
        ;
    }

    #menu-items {
        display: block;
    }

    #menu-switch {
        display: none;
    }

    .grid-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
